@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

.navbarr {
    height: 5%;
    text-align: right;
    padding-bottom: 65px;
    /* margin: 15px; */
}

.button {
    border: 1px;
    border-color: rgb(130, 35, 35);
    background-color: #fdfdff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    color: black;
    padding: 8px 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
    cursor: pointer;
    /* color: white; */
    border-radius: 14px;
}

.button_sl {
    margin-right: 0rem;
}

.button_mbl {
    margin-left: 0rem;
    margin-right: 3rem;
}

.black-no-line {
    color: black !important;
    text-decoration: none;
}

.afterclick {
    padding: 8px 8px;
    font-size: 1rem;
    border: 0.15rem solid rgb(5, 15, 5);
    border-radius: 14px;
}

/* .button_sl:hover {
    border: 0.1rem solid rgb(5, 15, 5);

}

.button_mbl:hover {
    border: 0.1rem solid rgb(5, 15, 5);
} */