<nav class="navbarr">
    <div>
        <button class="button button_sl" id="slb" type="button">
            <a class="black-no-line" routerLink="/search" routerLinkActive="afterclick"
                ariaCurrentWhenActive="page">Search</a></button>
        <button class="button button_mbl" id="mblb" type="button">
            <a class="black-no-line" routerLink="/bookings" routerLinkActive="afterclick"
                ariaCurrentWhenActive="page">My
                Bookings</a></button>
    </div>
</nav>

<router-outlet></router-outlet>


<!-- <h1>{{title}}</h1> -->